.btn-primary{
    margin-left: 230px;
}

#result{
    margin-left: 150px;
}
.contact{
    font-family:Arial;
    color:white;
    margin-left: 550px;
    margin-right: 400px;
}

#bdy{
    background-color: turquoise;
}
.heading {
    text-align: center;
}